<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Interests</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Topics that I want to learn more about.</p>

<div class="d-flex flex-wrap gutter-condensed mb-4">
  <!-- Java -->
  <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <div class="border border-gray-light p-3 height-full rounded-1 {% if site.style == 'dark' %}bg-gray-dark{% endif %}">
      <h3 class="h5 mb-2 {% if site.style == 'dark' %}text-white{% endif %}">Java</h3>
        <p class="f6 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">The basics of Java: Where i learn to create backends and connects them to sites and databases.</p>
      </div>
  </div>

  <!-- Minecraft Plugin Dev -->
  <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <div class="border border-gray-light p-3 height-full rounded-1 {% if site.style == 'dark' %}bg-gray-dark{% endif %}">
      <h3 class="h5 mb-2 {% if site.style == 'dark' %}text-white{% endif %}">Minecraft Plugin Dev</h3>
      <p class="f6 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Creating custom experiences with the Spigot/Paper and BungeeCord API.</p>
    </div>
  </div>

  <!-- Server Revival -->
  <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <div class="border border-gray-light p-3 height-full rounded-1 {% if site.style == 'dark' %}bg-gray-dark{% endif %}">
      <h3 class="h5 mb-2 {% if site.style == 'dark' %}text-white{% endif %}">Server Revival</h3>
      <p class="f6 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Reviving and supporting revives like Pretendo Network.</p>
    </div>
  </div>
</div>
